.navigation {

    display: flex;

    background-color: var(--night);
}

.navigation--link {

    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Cinzel';
    text-decoration: none;
    color: var(--white);
}