:root {

    --white: #ffffff;
    --black: #000000;
    --pink: #f72585;
    --blue: #2541b2;
    --night: #141414;
}

@font-face {
    font-family: 'Cinzel';
    src: url(./assets/Cinzel.ttf);
}

* {

    margin: 0;
    padding: 0;

    box-sizing: border-box;
}